@import url("https://p.typekit.net/p.css?s=1&k=ztw0vem&ht=tk&f=39496&a=93766379&app=typekit&e=css");

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: 'Norwester';
    src: url('/fonts/norwester.otf') format('opentype');
}

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(5, 36, 54);
    background: -moz-linear-gradient(180deg, rgba(5, 36, 54, 1) 0%, rgba(0, 7, 25, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(5, 36, 54, 1) 0%, rgba(0, 7, 25, 1) 100%);
    background: linear-gradient(180deg, rgba(5, 36, 54, 1) 0%, rgba(0, 7, 25, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052436", endColorstr="#000719", GradientType=1);
    min-height: 100vh;

}

 
h1 {
    font-family: 'Norwester', sans-serif;
    font-weight: normal;
    font-size: clamp(2.2rem, 6.5vw + 0.2rem, 7.5rem);
    line-height: clamp(2rem, 6.5vw + 0.2rem, 6.6rem);
    margin: 0;
    padding-bottom:2rem;
}

h5 {
    font-family: 'Norwester', sans-serif;
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
    font-weight: normal;
}

p {
    font-weight: light;
    font-size: clamp(0.8rem, 1.5vw + 0.3rem, 2rem);
    padding-bottom:2rem;
}