@import url("https://p.typekit.net/p.css?s=1&k=ztw0vem&ht=tk&f=39496&a=93766379&app=typekit&e=css");

@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Norwester";
  src: url("/fonts/norwester.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  background: rgb(5, 36, 54);
  background: -moz-linear-gradient(
    180deg,
    rgba(5, 36, 54, 1) 0%,
    rgba(0, 7, 25, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(5, 36, 54, 1) 0%,
    rgba(0, 7, 25, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(5, 36, 54, 1) 0%,
    rgba(0, 7, 25, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052436", endColorstr="#000719", GradientType=1);
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
