.navbtn {
    font-family: "neue-haas-grotesk-display", sans-serif;
    color:white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 80px;
    cursor: pointer;
    white-space: nowrap;
    font-size:24px;
    padding:14px 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .button:hover{
    background-color:white;
  }