.navbtn {
  font-family: "neue-haas-grotesk-display", sans-serif;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 80px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.navbtn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  /* width: 100px;
  height: 100px; */
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  /* background-color: #ffffff; */
  transition: all 0.5s ease-in-out;
}

.navbtn .svg{
  transition: all 0.5s ease-in-out;
 
}

.navbtn:hover::before {
  scale: 3;
}

.navbtn:hover .svg{
  transition: all 0.5s ease-in-out;
  rotate: 45deg;
  scale: .8;
}

.navbtn:hover {
 
  scale: 1.1;
  box-shadow: 0 0px 20px #ffffff33;
}

.navbtn:active {
  scale: 1;
}