.TabBtn{
 
    border: 1px solid white;
    border-radius: 80px;
}

.TabBtn.selected{
    background-color: white !important;
    color:#03182A;
}

.TabBtn:hover{
    background-color:rgba(255, 255, 255, 0.08);
}

